/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
@font-face {
	font-family: "Muli-Regular";
	src: url("../fonts/Muli-Regular.ttf") format("woff2");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Muli-Bold";
	src: url("../fonts/Muli-Bold.ttf") format("woff2");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Muli-SemiBold";
	src: url("../fonts/Muli-SemiBold.ttf") format("woff2");
	font-style: normal;
	font-weight: 600;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}
.header {
	background-color: rgba(255, 165, 2, 0.5);
}
.header__top {
	padding-top: 51px;
}
.header__top-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 51px;
}
.header__top-menu {
	padding-left: 368px;
	padding-right: 303px;
}
.menu__list {
	display: flex;
}
.menu__link {
	font-family: "Muli-SemiBold";
	font-size: 14px;
	font-weight: 600;
	line-height: 1.29;
	letter-spacing: 0.2px;
	color: #373f41;
}
.menu__list-item {
	padding-right: 32px;
}
.menu__list li:last-child {
	padding-right: 0;
}
.menu__link--active:hover {
	color: #3c64b1;
}
.header__buttons {
	display: flex;
}
.header__buttons div:first-child {
	margin-right: 5px;
}
.button-login__link{
	transition: 0.2s;
}
.button-login__link {
	padding: 12px 18px;
	font-family: "Muli-Bold";
	color: #3c64b1;
}
.button-login__link--active:hover {
	background-color: #f73c6b;
	color: #fff;
	border-radius: 6px;
}
.header__content-inner {
	display: flex;
	align-items: center;
}
.header__content-img {
	padding-left: 90px;
	padding-right: 90px;
}
.header__column {
}
.title {
	font-family: "Muli-Bold";
	width: 445px;
	font-size: 52px;
	font-weight: bold;
	line-height: 1.08;
	letter-spacing: 0.2px;
	color: #373f41;
}
.header__content-title {
	padding-bottom: 40px;
}
.text {
	font-family: "Muli-Regular";
	width: 430px;
	font-size: 16px;
	line-height: 1.38;
	letter-spacing: 0.3;
	text-align: justify;
	color: #737b7d;
}
.header__content-text {
	padding-bottom: 68px;
}
.header__content-button {
	margin-bottom: 48px;
}
.button__link {
	font-family: "Muli-Bold";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: #f73c6b;
	padding: 12px 18px;
	border: solid 1px #f73c6b;
	transition: 0.2s;
}
.button__link--active:hover{
	color:#fff;
	background-color: #f73c6b;
}
.message__container {
	padding-left: 122px;
	padding-right: 138px;
}
.message__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.message__list {
	margin-top: 163px;
	margin-bottom: 145px;
}
.message__list-item {
	padding-bottom: 25px;
}
.message__list-text {
	font-family: "Muli-Regular";
	width: 588px;
	font-size: 16px;
	line-height: 1.38;
	letter-spacing: 0.3px;
	text-align: left;
	color: #282828;
	padding: 30px 27px 35px 30px;
	border-radius: 15px;
	box-shadow: 0 12px 35px 4px rgba(171, 8, 96, 0.05);
}
.message__list-text--active:hover {
	background-color: #4f55dd;
	color: #fff;
}
.message__pic {
	position: absolute;
	top: 16%;
	left: 60%;
}
.message__icon {
	position: absolute;
	top: 3%;
	left: -30%;
}
.shipping__title-wrapper {
	background-color: rgba(46, 213, 115, 0.5);
}
.shipping__container-title {
	position: relative;
	padding-left: 122px;
	padding-right: 48px;
	display: flex;
	justify-content: space-between;
}
.shipping__spring {
	position: absolute;
	top: 20%;
	left: -20%;
	transform: translate(61%, -13%);
}
.shipping__title {
	padding-top: 80px;
	padding-bottom: 85px;
	font-family: "Muli-Bold";
	width: 471px;
	font-size: 44px;
	font-weight: bold;
	line-height: 1.27;
	letter-spacing: 0.2px;
	color: #4f4f4f;
}
.shipping__pic {
	position: absolute;
	bottom: -72%;
	left: 26%;
}
.shipping-desc {
	margin-bottom: 200px;
}
.shipping-desc__inerr {
	padding-top: 79px;
	padding-left: 124px;
	padding-right: 120px;
}

.shipping-desc__space {
	display: flex;
	justify-content: space-between;
}

.shipping__desc-img {
	padding-bottom: 12px;
}
.shipping__desc-buy-img {
	padding-bottom: 8px;
}
.shipping__desc-text {
	font-family: "Muli-Regular";
	width: 255px;
	text-align: left;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.3px;
}

.shipping-desc__row {
	padding-top: 90px;
	display: flex;
}
.shipping-desc__row-item {
	margin-right: 60px;
}
.shipping-desc__row div:last-child {
	margin-right: 0;
}
.scratch {
	margin-bottom: 160px;
}
.scratch__container {
	padding-right: 233px;
	padding-left: 100px;
}
.scratch__inerr {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.scratch__icon {
	position: absolute;
	top: -20%;
	left: 99%;
}
.scratch__pic {
}
.scratch__sub-title {
	margin-top: 49px;
	font-family: "Muli-Bold";
	font-size: 23px;
	font-weight: bold;
	line-height: 2.43;
	letter-spacing: 0.2px;
	color: #373f41;
}
.scratch__title {
	margin-bottom: 30px;
}
.scratch__text {
}
.subscribe__container {
	padding-left: 122px;
	padding-right: 28px;
}
.subscribe__wrapper {
	background-color: rgba(255, 71, 87, 0.5);
	height: 453px;
}
.subscribe__inerr {
	position: relative;
}
.subscribe__title {
	padding-top: 154px;
	font-family: "Muli-Bold";
	font-size: 37px;
	line-height: 56px;
	color: #4f4f4f;
	padding-bottom: 40px;
}
.subscribe__input {
	width: 282px;
	font-family: "Muli-Regular";
	font-size: 14px;
	padding: 11px 16px;
	border-radius: 11px;
	margin-right: 24px;
}






















.subscribe__submit {
	font-family: "Muli-Bold";
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	padding: 12px 18px;
	border-radius: 12px;
	background-color: #f73c6b;
}
.subscribe__submit:active{
}






















.subscribe__pic {
	position: absolute;
	top: -70%;
	left: 30%;
	z-index: 1;
}
.best-design__container {
	padding-left: 121px;
	padding-right: 124px;
}
.best-design__inerr {
	padding-top: 65px;
}
.best-design__header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 56px;
}
.best-design__content {
	padding-bottom: 110px;
}
.best-design__title {
	width: 600px;
	font-family: "Muli-Bold";
	font-size: 52px;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -2.34px;
	color: #23242a;
}
.best-design__link {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.best-design__link-text {
	font-family: "Muli-SemiBold";
	font-size: 21px;
	font-weight: 600;
	line-height: 1.35;
	letter-spacing: -0.21px;
	color: #e5e5e5;
	text-decoration: underline;
	padding-right: 30px;
}
.best-design__link-img {
	height: 24px;
	width: 24px;
}
.best-design__list {
	display: flex;
}
.best-design__list-item {
	width: 377px;
	height: 397px;
	box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
	border-radius: 14px;
	margin-right: 32px;
	overflow: hidden;
}
.best-design__list li:last-child {
	margin-right: 0;
}
.best-design__list-title {
	padding: 42px 35px 0 40px;
	font-family: "Muli-SemiBold";
	font-size: 44px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -1.32px;
	text-align: left;
	color: #23242a;
}
.best-design__list-text {
	padding: 37px 42px 115px 40px;
	font-family: "Muli-Regular";
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
	letter-spacing: -0.32px;
	color: #23242a;
}
.best-design__list-link {
	font-family: "Muli-Regular";
	font-size: 21px;
	line-height: 1.35;
	letter-spacing: -0.21px;
	text-align: left;
	color: #000;
	padding: 20px 166px 23px 40px;
}
.best-design__list-link--yellow {
	background-color: #ffd281;
}
.best-design__list-link--green {
	background-color: rgba(46, 213, 115, 0.5);
}
.best-design__list-link--pink {
	background-color: #ffa3ab;
}
.footer__wrapper {
	background-color: rgba(46, 213, 115, 0.5);
}
.footer__container {
	padding-left: 122px;
	padding-right: 122px;
}
.footer__inerr {
	padding-top: 43px;
	position: relative;
}
.logo {
	display: inline-block;
}
.footer__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 14px;
}
.footer__header-img{
	position: absolute;
	top:-13%;
	left: 94%;
}
.footer__text {
	margin-top: 36px;
	font-family: "Muli-Regular";
	width: 445px;
	font-size: 16px;
	line-height: 1.38;
	letter-spacing: 0.3px;
	text-align: justify;
	color: #454646;
}
.footer__menu {
	display: flex;
	margin-right: 87px;
}
.footer__menu-item {
	display: flex;
	flex-direction: column;
	padding-right: 100px;
	margin-top: -20px;
}
.footer__menu li:last-child {
	padding-right: 0;
}
.footer__menu-title {
	font-family: "Muli-SemiBold";
	opacity: 0.5;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.35;
	letter-spacing: -0.18px;
	color: #000;
	padding-bottom: 31px;
}
.foter__menu-link {
	font-family: "Muli-SemiBold";
	font-size: 16px;
	font-weight: 600;
	line-height: 1.35;
	letter-spacing: -0.16px;
	text-align: left;
	color: #555;
	padding-bottom: 5px;
}
.footer__line {
	width: 100%;
	height: 2px;
	background-color: #000;
	margin-bottom: 32px;
}
.footer__town{
	text-align: right;
	margin-bottom: 17.5px;
}
.footer__town-link{
	font-family: "Muli-SemiBold";
	font-size: 18px;
	font-weight: 600;
	line-height: 1.35;
	letter-spacing: -0.18px;
	color: #000;
	padding-right: 28px;
}
.footer__town a:last-child{
	padding-right: 0;
}
.footer__payment{
	text-align: center;
}
.footer__payment-link{
	margin-right: 18px;
}
.footer__payment a:last-child{
	margin-right: 0;
}
.footer__license{
	margin-top: 66px;
	display: flex;
	justify-content: space-between;
	padding-right: 65px;
	padding-bottom: 60px;
}
.footer__license-text{
	font-family:"Muli-Regular";
	font-size: 18px;
	line-height: 1.35;
	letter-spacing: -0.18px;
	color: #494949
}
.footer__license-text--opacity{
	opacity: 0.5;
}
.footer-toy{
	position: absolute;
	top:55%;
	left: -10%;
}
.footer-spiral{
	position:absolute;
	top:65%;
	right: -7%;
}